@keyframes scan-line-1 {
  0% {
    transform: scaleY(1);
  }
  8% {
    transform: scaleY(1.3);
  }
  16% {
    transform: scaleY(1);
  }
  100% {
    transform:scaleY(1);
  }
}

@keyframes scan-line-2 {
  4% {
    transform: scaleY(1);
  }
  12% {
    transform: scaleY(1.3);
  }
  20% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes scan-line-3 {
  8% {
    transform: scaleY(1);
  }
  16% {
    transform: scaleY(1.3);
  }
  24% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes scanner {
  0% {
    transform: translate(0px);
  }
  10% {
    transform: translate(4px);
  }
  20% {
    transform: translate(0px);
  }
  100% {
    transform: translate(0px);
  }
}


.ScanLine1 {
  will-change: transform;
  transform-origin: 1rem 1rem;
}

.ScanLine2 {
  will-change: transform;
  transform-origin: 1rem ;
}

.ScanLine3 {
  will-change: transform;
  transform-origin: 1rem ;
}

.isAnimating {
  .Scanner {
    animation: scanner infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}


.isAnimating {
  .ScanLine1 {
    animation: scan-line-1 infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}

.isAnimating {
  .ScanLine2 {
    animation: scan-line-2 infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}

.isAnimating {
  .ScanLine3 {
    animation: scan-line-3 infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}

