@keyframes page-last-arrow {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

.PageLastArrow {
  transform-origin: 50% 50%;
  will-change: transform;
}

.isAnimating {
  .PageLastArrow {
    animation: page-last-arrow 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}
