@keyframes menu-close {
  0% {
    transform: rotate(0deg) scaleX(1);
  }
  10% {
    transform: rotate(0deg) scaleX(1);
  }
  20% {
    transform: rotate(90deg) scaleX(0);
  }
  100% {
    transform: rotate(90deg) scaleX(0);
  }
}

@keyframes close-open {
  0% {
    transform: rotate(0deg) scaleX(0);
  }
  10% {
    transform: rotate(0deg) scaleX(0);
  }
  20% {
    transform: rotate(90deg) scaleX(1);
  }
  100% {
    transform: rotate(90deg) scaleX(1);
  }
}

.CloseBar1,
.CloseBar2,
.MenuBar1,
.MenuBar2,
.MenuBar3,
.MenuBar4 {
  will-change: transform;
  transform-origin: center;
}

.MenuLines,
.CloseLines {
  stroke: #000000;
  stroke-width: 20;
  stroke-miterlimit: 10;
}

.CloseLines {
  visibility: hidden;
}

.isAnimating {
.CloseLines {
    visibility: visible;
  }

.MenuBar1 {
    animation: menu-close infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }

.MenuBar2 {
    animation: menu-close infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }

.MenuBar3 {
    animation: menu-close infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }

.MenuBar4 {
    animation: menu-close infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }

.CloseBar1 {
    animation: close-open infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }

.CloseBar2 {
    animation: close-open infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}

@media (prefers-reduced-motion) { 
  .CloseBar1,
  .CloseBar2 {
    visibility: hidden !important;
  }
}
