.ZoomInAreaCursor{
  will-change: transform;
  transform-origin: 16px 16px;
  transform: scale(1);
}

.ZoomInArea1 {
  will-change: transform;
  transform-origin: 16px 16px;
  transform: scale(1);
}

.ZoomInArea2,
.ZoomInArea3,
.ZoomInArea4,
.ZoomInArea5,
.ZoomInArea6,
.ZoomInArea7,
.ZoomInArea8,
.ZoomInArea9,
.ZoomInArea10,
.ZoomInArea11,
.ZoomInArea12 {
  will-change: transform;
  transform-origin: 2px 2px;
  transform: scale(0);
}


.isAnimating {
  .ZoomInAreaCursor {
    animation: zoom-in-area-cursor 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea1 {
    animation: zoom-in-area1 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea2 {
    animation: zoom-in-area2 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea3 {
    animation: zoom-in-area3 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea4 {
    animation: zoom-in-area4 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea5 {
    animation: zoom-in-area5 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea6 {
    animation: zoom-in-area6 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea7 {
    animation: zoom-in-area7 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea8 {
    animation: zoom-in-area8 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea9 {
    animation: zoom-in-area9 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea10 {
    animation: zoom-in-area10 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea11 {
    animation: zoom-in-area11 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomInArea12 {
    animation: zoom-in-area12 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
}

   
@keyframes zoom-in-area-cursor {
  0% { transform: translate(0, 0); }
  14% { transform: translate(-4px, -4px); }
  26% { transform: translate(0, 0); }
  100% { transform: scale(1); }
}

@keyframes zoom-in-area1 {
  0% { transform: scale(1); }
  5.9999999999% { transform: scale(1); }
  6% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-in-area2 {
  0% { transform: scale(0); }
  5.9999999999% { transform: scale(0); }
  6% { transform: scale(1); }
  8% { transform: scale(1); }
  8.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-in-area3 {
  0% { transform: scale(0); }
  7.9999999999% { transform: scale(0); }
  8% { transform: scale(1); }
  10% { transform: scale(1); }
  10.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-in-area4 {
  0% { transform: scale(0); }
  9.9999999999% { transform: scale(0); }
  10% { transform: scale(1); }
  12% { transform: scale(1); }
  12.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-in-area5 {
  0% { transform: scale(0); }
  11.9999999999% { transform: scale(0); }
  12% { transform: scale(1); }
  14% { transform: scale(1); }
  14.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-in-area6 {
  0% { transform: scale(0); }
  14% { transform: scale(0); }
  14.0000000001% { transform: scale(1); }
  16% { transform: scale(1); }
  16.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-in-area7 {
  0% { transform: scale(0); }
  15.9999999999% { transform: scale(0); }
  16% { transform: scale(1); }
  18% { transform: scale(1); }
  18.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-in-area8 {
  0% { transform: scale(0); }
  17.9999999999% { transform: scale(0); }
  18% { transform: scale(1); }
  20% { transform: scale(1); }
  20.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-in-area9 {
  0% { transform: scale(0); }
  19.9999999999% { transform: scale(0); }
  20% { transform: scale(1); }
  22% { transform: scale(1); }
  22.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-in-area10 {
  0% { transform: scale(0); }
  21.9999999999% { transform: scale(0); }
  22% { transform: scale(1); }
  24% { transform: scale(1); }
  24.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-in-area11 {
  0% { transform: scale(0); }
  23.9999999999% { transform: scale(0); }
  24% { transform: scale(1); }
  26% { transform: scale(1); }
  26.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-in-area12 {
  0% { transform: scale(0); }
  25.9999999999% { transform: scale(0); }
  26% { transform: scale(1); }
  100% { transform: scale(1); }
}
