@keyframes up-to-top-arrow {
  0% {
<<<<<<< HEAD
    transform: translateY(0px);
  }
 10% {
    transform: translateY(-5px);
  }
  20% {
=======
    transform: translateY(6px);
  }
  8% {
    transform: translateY(6px);
  }
  25% {
>>>>>>> 81ca42f41dfaacb1012bb58322dd8455e72d91db
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.UpToTopArrow {
  transform-origin: 50% 50%;
  will-change: transform;
}

.isAnimating {
  .UpToTopArrow {
    animation: up-to-top-arrow 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}
