@keyframes home-door-top {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-3px);
  }
  20% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes home-door-right {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1, 1.4);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes home-door-left {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1, 1.4);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.isAnimating {
  .HomeDoorTop {
    transform-origin: 14px 16px;
    will-change: transform;
  }

  .HomeDoorTop {
    animation: home-door-top 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  .HomeDoorRight,
  .HomeDoorLeft {
    transform-origin: 18px 26px;
    will-change: transform;
  }

  .HomeDoorRight {
    animation: home-door-right 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  .HomeDoorLeft {
    animation: home-door-left 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}
