@keyframes draggable-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.draggableRectOne, 
.draggableRectTwo, 
.draggableRectThree, 
.draggableRectFour, 
.draggableRectFive, 
.draggableRectSix {
  will-change: opacity;
}

.DraggableMotion:hover .draggableRectOne {
  animation: draggable-fade-in .85s ease-in .15;
}
.DraggableMotion:hover .draggableRectTwo {
  animation: draggable-fade-in .85s ease-in .3;
}
.DraggableMotion:hover .draggableRectThree {
  animation: draggable-fade-in .85s ease-in .45;
}
.DraggableMotion:hover .draggableRectFour {
  animation: draggable-fade-in .85s ease-in .6;
}
.DraggableMotion:hover .draggableRectFive {
  animation: draggable-fade-in .85s ease-in .75;
}
.DraggableMotion:hover .draggableRectSix {
  animation: draggable-fade-in .85s ease-in;
}
