@keyframes star {
  0% { transform: scale(1)}
  6% { transform: scale(.75)}
  8% { transform: scale(.75)}
  14% { transform: scale(1)}
  100% { transform: scale(1)}
}

@keyframes star-filled {
  0% {
    scale: 1;
    opacity: 0;
  }
  6% {
    scale: .75;
    opacity: 1;
  }
  8% {
    scale: .75;
    opacity: 1;
  }
  14% {
    scale: 1;
    opacity: 100;
  }
  100% {
    scale: 1;
    opacity: 100;
  }
}

.StarBorderUnfilled {
  transform-origin: 50% 50%;
  transform: scale(1);
}

.StarBorderFilled {
   transform-origin: 50% 50%;
   animation: star 2s cubic-bezier(0.2, 0, 0.38, 0.9)
}

.StarInnerUnfilled {
  opacity: 0;
  transform-origin: 50% 50%;
}

.StarInnerFilled {
  transform-origin: 50% 50%;
  animation: star-filled 2s cubic-bezier(0.2, 0, 0.38, 0.9)
}
