@keyframes subtract-alt-minus {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(.8, 1);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.SubtractAltMinus{
  transform-origin: 1rem 1rem;
  will-change: transform;
}

.isAnimating {
  .SubtractAltMinus {
    animation: subtract-alt-minus 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}
