@keyframes zoom-out-glass {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.15, 1.15);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoom-out-minus {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(.85, 1);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.ZoomOutGlass{
  transform-origin: 13px 13px;
  will-change: transform;
}

.ZoomOutMinus{
  transform-origin: 13px 13px;
  will-change: transform;
}

.isAnimating {
  .ZoomOutGlass {
    animation: zoom-out-glass 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

.isAnimating {
  .ZoomOutMinus {
    animation: zoom-out-minus 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

