@keyframes switcher-box1 {
  0% { transform: translateX(0px) ; }
  6% { transform: translateX(3px) ; }
  12% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes switcher-box2 {
  0% { transform: translateX(0px) ; }
  6% { transform: translateX(3px) ; }
  12% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes switcher-box3 {
  0% { transform: translateX(0px) ; }
  6% { transform: translateX(3px) ; }
  12% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes switcher-box4 {
  4% { transform: translateX(0px) ; }
  10% { transform: translateX(3px) ; }
  16% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes switcher-box5 {
  4% { transform: translateX(0px) ; }
  10% { transform: translateX(3px) ; }
  16% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes switcher-box6 {
  4% { transform: translateX(0px) ; }
  10% { transform: translateX(3px) ; }
  16% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes switcher-box7 {
  8% { transform: translateX(0px) ; }
  14% { transform: translateX(3px) ; }
  20% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes switcher-box8 {
  8% { transform: translateX(0px) ; }
  14% { transform: translateX(3px) ; }
  20% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes switcher-box9 {
  8% { transform: translateX(0px) ; }
  14% { transform: translateX(3px) ; }
  20% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}



.SwitcherBox1,
.SwitcherBox2,
.SwitcherBox3,
.SwitcherBox4,
.SwitcherBox5,
.SwitcherBox6,
.SwitcherBox7,
.SwitcherBox8,
.SwitcherBox9 {
  will-change: transform;
  transform-origin: 16px 16px;
}



.isAnimating {
  .SwitcherBox1 {
    animation: switcher-box1 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .SwitcherBox2 {
    animation: switcher-box2 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .SwitcherBox3 {
    animation: switcher-box3 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .SwitcherBox4 {
    animation: switcher-box4 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .SwitcherBox5 {
    animation: switcher-box5 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .SwitcherBox6 {
    animation: switcher-box6 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .SwitcherBox7 {
    animation: switcher-box7 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .SwitcherBox8 {
    animation: switcher-box8 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .SwitcherBox9 {
    animation: switcher-box9 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
}

