@keyframes move-motion-top {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-3px);
  }
  20% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes move-motion-bottom {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(3px);
  }
  20% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes move-motion-right {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(3px);
  }
  20% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes move-motion-left {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}



.MoveMotionTop,
.MoveMotionRight,
.MoveMotionLeft,
.MoveMotionBottom {
  will-change: transform;
}

.isAnimating {
  .MoveMotionTop {
    animation: move-motion-top infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
  .MoveMotionRight {
    animation: move-motion-right infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
  .MoveMotionLeft {
    animation: move-motion-left infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
  .MoveMotionBottom {
    animation: move-motion-bottom infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}
