@keyframes add-vertical {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes add-horizontal {
  0% {
    transform: rotate(0deg) scaleX(1);
  }
  10% {
    transform: rotate(0deg) scaleX(1);
  }
  20% {
    transform: rotate(90deg) scaleX(0);
  }
  100% {
    transform: rotate(90deg) scaleX(0);
  }
}

.AddVerticalLine,
.AddHorizontalLine {
  will-change: transform;
  transform-origin: center;
}

.AddToSubtractLine {
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.isAnimating {
  .AddVerticalLine {
    animation: add-vertical cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }

  .AddHorizontalLine {
    animation: add-horizontal cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}
