.SignalOuter,
.SignalInner,
.SignalOuterGroup,
.SignalInnergroup {
   will-change: transform;
   transform-origin: 50% 40.625%;
   vector-effect: non-scaling-stroke; 
   fill: none;
   stroke: #000; 
   stroke-miterlimit:10;  
   stroke-width: 2px;    
}

.Tower {
   will-change: transform;
   transform-origin: 50% 100%;
   vector-effect: non-scaling-stroke; 
   fill:#000;
   stroke:none;
   stroke-width:2px;
   stroke-miterlimit:10;   
}

.isAnimating {
  .SignalOuter { animation: signal-outer .5s cubic-bezier(0.20, 0.00, 0.38, 0.90) } 
  .SignalInner { animation: signal-inner .5s cubic-bezier(0.20, 0.00, 0.38, 0.90) }
  .SignalThree { animation: signal-three .5s cubic-bezier(0.20, 0.00, 0.38, 0.90) }
  .Tower { animation: tower .5s cubic-bezier(0.20, 0.00, 0.38, 0.90) }
} 

 @keyframes signal-outer {
  26.64% { transform: scale(1) }    
  59.94% { transform: scale(1.32) }
  100% { transform: scale(1) }
}

@keyframes signal-inner {
  13.3% { transform: scale(1) }
  46.62% { transform: scale(1.66) }
  86.58% { transform: scale(1) } 
  100% { transform: scale(1) }
}

@keyframes tower {
  50% { transform: scaleY(1.1) }
  100% { transform: scaleY(1) }
}