@keyframes r-arrows-horizontal-head {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(4px);
  }
  20% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes l-arrows-horizontal-head {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(-4px);
  }
  20% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}



.RArrowsHorizontalHead,
.LArrowsHorizontalHead {
  will-change: transform;
}

.isAnimating {
  .RArrowsHorizontalHead {
    animation: r-arrows-horizontal-head infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}

.isAnimating {
  .LArrowsHorizontalHead {
    animation: l-arrows-horizontal-head infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}
