.SelectWindowCursor{
  will-change: transform;
  transform-origin: 16px 16px;
  transform: scale(1);
}


.isAnimating {
  .SelectWindowCursor {
    animation: select-window-cursor 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
}

   
@keyframes select-window-cursor {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-3px, -3px); }
  20% { transform: translate(0, 0); }
  100% { transform: scale(1); }
}

