

.SelectWindowCursor {
  will-change: transform;
}

.isAnimating {
  .SelectWindowCursor {
    animation: select-window-cursor cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}

@keyframes select-window-cursor {
  0% {
    transform: scale(1) translate(0px, 0px);
  }
  10% {
    transform: scale(.80) translate(-3px, -3px);
  }
  20% {
    transform: scale(1) translate(0px, 0px);
  }
  100% {
    transform: scale(1) translate(0px, 0px);
  }
}
