@-webkit-keyframes animate-binoculars {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  9% {
    -webkit-transform: rotate(-35deg) scale(1.06);
            transform: rotate(-35deg) scale(1.06);
  }
  18% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@keyframes animate-binoculars {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  9% {
    -webkit-transform: rotate(-35deg) scale(1.06);
            transform: rotate(-35deg) scale(1.06);
  }
  18% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

.BinocularsMotion {
  will-change: transform;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.isAnimating
{
.BinocularsMotion {
    -webkit-animation: animate-binoculars 3s;
            animation: animate-binoculars 3s;
  }
}