.BinocularsMotion {
  will-change: transform;
  vector-effect: non-scaling-stroke;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.isAnimating {
  .BinocularsMotion {
    -webkit-animation: animate-binoculars 3s;
            animation: animate-binoculars 3s;
  }
}

@keyframes animate-binoculars {
  9% { transform: rotate(-22deg) }
  18% { transform:rotate(0) }
  100% { transform: rotate(0) }
}

