@keyframes FitToScreenTopRightMotion {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translateX(2px) translateY(-2px);
  }
  20% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(0, 0);
  }
}

@keyframes FitToScreenBottomRightMotion {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translateX(2px) translateY(2px);
  }
  20% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(0, 0);
  }
}

@keyframes FitToScreenBottomLeftMotion {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translateX(-2px) translateY(2px);
  }
  20% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(0, 0);
  }
}

@keyframes FitToScreenTopLeftMotion {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translateX(-2px) translateY(-2px);
  }
  20% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(0, 0);
  }
}

@keyframes FitToScreenInsideTopMotion {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translateX(2px) translateY(-2px);
  }
  20% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(0, 0);
  }
}

@keyframes FitToScreenInsideBottomMotion {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translateX(-2px) translateY(2px);
  }
  20% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(0, 0);
  }
}

.FitToScreenTopRight{
  will-change: transform;
}

.FitToScreenBottomRight{
  will-change: transform;
}

.FitToScreenBottomLeft{
  will-change: transform;
}

.FitToScreenTopLeft{
  will-change: transform;
}

.FitToScreenInsideTop{
  will-change: transform;
}

.FitToScreenInsideBottom{
  will-change: transform;
}

.isAnimating {
  .FitToScreenTopRight {
    animation: FitToScreenTopRightMotion 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

.isAnimating {
  .FitToScreenBottomRight {
    animation: FitToScreenBottomRightMotion 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

.isAnimating {
  .FitToScreenBottomLeft {
    animation: FitToScreenBottomLeftMotion 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

.isAnimating {
  .FitToScreenTopLeft {
    animation: FitToScreenTopLeftMotion 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

.isAnimating {
  .FitToScreenInsideTop {
    animation: FitToScreenInsideTopMotion 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

.isAnimating {
  .FitToScreenInsideBottom {
    animation: FitToScreenInsideBottomMotion 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}
