@keyframes reply {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}


.Reply {
  will-change: transform;
}

.isAnimating {
  .Reply {
    animation: reply infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}
