@keyframes chevron-down-arrow {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-8px);
  }
  30% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ChevronDown {
  transform-origin: 50% 50%;
  will-change: transform;
}

.isAnimating {
  .ChevronDown {
    animation: chevron-down-arrow 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}
