@keyframes notification-filled-bell {
  0% { transform: rotate(0deg)}
  8.3% { transform: rotate(7deg)}
  16.6% { transform: rotate(-4deg)}
  25% { transform: rotate(2deg)}
  30% { transform: rotate(0deg)}
  100% { transform: rotate(0)}
}


@keyframes notification-filled-clapper {
  0% { transform: rotate(0deg)}
  3.3% { transform: rotate(0deg) } 
  13.3% { transform: rotate(4deg)}
  21.6% { transform: rotate(-1deg)}
  30% { transform: rotate(0)}
}


.NotificationFilledBell,
.NotificationFilledClapper {
  transform-origin: 1rem .25rem;
  will-change: transform;
}


.isAnimating {
  .NotificationFilledBell {
    animation: notification-filled-bell 2s cubic-bezier(0.2, 0, 0.38, 0.9)
  }
}


.isAnimating {
  .NotificationFilledClapper {
    animation: notification-filled-clapper 2s cubic-bezier(0.2, 0, 0.38, 0.9)
  }
}

