@keyframes favorite-half {
  0% { transform: scale(1)}
  6% { transform: scale(.75)}
  8% { transform: scale(.75)}
  14% { transform: scale(1)}
  100% { transform: scale(1)}
}


@keyframes favorite-half-filled {
  0% {
    scale: 1;
    opacity: 0;
  }
  6% {
    scale: .75;
    opacity: 1;
  }
  8% {
    scale: .75;
    opacity: 1;
  }
  14% {
    scale: 1;
    opacity: 100;
  }
  100% {
    scale: 1;
    opacity: 100;
  }
}


.FavoriteHalf {
  transform-origin: 1rem 1rem;
  will-change: transform;
}

.FavoriteHalfFilled {
  transform-origin: 1rem 1rem;
  opacity: 0;
}



.isAnimating {
  .FavoriteHalf {
    animation: favorite-half 2s cubic-bezier(0.2, 0, 0.38, 0.9)
  }
}


.isAnimating {
  .FavoriteHalfFilled {
    animation: favorite-half-filled 2s cubic-bezier(0.2, 0, 0.38, 0.9)
  }
}
