@keyframes reset-alt-arrow {
  0% {
    transform: translatex(0px);
  }
  10% {
    transform: translatex(-4px);
  }
  20% {
    transform: translatex(0px);
  }
  100% {
    transform: translatex(0px);
  }
}

.ResetAltArrow {
  will-change: transform;
}

.isAnimating {
  .ResetAltArrow {
    animation: reset-alt-arrow infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}
