.IconSwitcherToClose {
  width: 32px;
  height: 32px;
}

.Box1,
.Box2,
.Box3,
.Box4,
.Box5,
.Box5,
.Box6,
.Box7,
.Box8,
.Box9 {
  will-change: transform;
  transform-origin: center;
}

.X1,
.X2 {
  opacity: 0;
  will-change: transform;
  transform-origin: center;
}

.IconSwitcherToClose:hover .Box1,
.IconSwitcherToClose:hover .Box2,
.IconSwitcherToClose:hover .Box3,
.IconSwitcherToClose:hover .Box4,
.IconSwitcherToClose:hover .Box5,
.IconSwitcherToClose:hover .Box5,
.IconSwitcherToClose:hover .Box6,
.IconSwitcherToClose:hover .Box7,
.IconSwitcherToClose:hover .Box8,
.IconSwitcherToClose:hover .Box9 {
  animation: box-collapse infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
}

.IconSwitcherToClose:hover .X1,
.IconSwitcherToClose:hover .X2 {
  animation: close-open infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
}

@keyframes box-collapse {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(90deg) scale(0);
  }
  100% {
    transform: rotate(90deg) scaleX(0);
  }
}

@keyframes close-open {
  0% {
    opacity: 1;
    transform: rotate(-45deg) scale(0);
  }
  10% {
    transform: rotate(-45deg) scale(0);
  }
  20% {
    transform: rotate(45deg) scale(1);
  }
  99.99% {
    transform: rotate(45deg) scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.FillNone {
  fill: none;
}

.Stroke {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
