@keyframes maximize-top-arrow {
  0% {
    transform: translate(0px, 0px );
  }
  10% {
    transform: translate(3px, -3px);
  }
  20% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes maximize-bottom-arrow {
  0% {
    transform: translate(0px, 0px );
  }
  10% {
    transform: translate(-3px, 3px);
  }
  20% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translateX(0px, 0px);
  }
}



.MaximizeBottomArrow,
.MaximizeTopArrow {
  will-change: transform;
}

.isAnimating {
  .MaximizeBottomArrow {
    animation: maximize-bottom-arrow infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}

.isAnimating {
  .MaximizeTopArrow {
    animation: maximize-top-arrow infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}
