
.Outline {
  fill: transparent;
  stroke:#231F20;
  stroke-width:2;
  stroke-miterlimit:10;
}

.GraphCircle {
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 25.5px;
  stroke-dashoffset: 6.375px;
  transform-origin: 11px 21px;
  transform: scale(1) translate(0, 0) rotate(0); 
  will-change: transform, stroke-dashoffet; 
}

.RectangleHorizontal {
  fill: black;
  stroke: transparent;
  height: 2px;
  transform: rotate(180deg) translate(-1px, -10.5px);
  transform-origin: 50% 10%;
  will-change: transform, height;
}

.RectangleVertical {
  fill: black;
  stroke: transparent;
  height: 9px;
  transform: rotate(180deg) translate(-1px, -10.5px);
  transform-origin: 50% 10%;
  will-change: transform, height;
}

.GraphBarLeft {
  stroke-width: 2px;
  stroke-miterlimit: 10px;
  stroke: black;
  stroke-dasharray: 10px;
  will-change: transform, stroke-dashoffet;
}

.GraphBarRight {
  stroke-width: 2px;
  stroke-miterlimit: 10px;
  stroke: black;
  stroke-dasharray: 10px;
  stroke-dashoffset: 15px;
  will-change: transform, stroke-dashoffet;
}

@keyframes circle-rotate {
  0% {   
    stroke-dashoffset: 6.375px; 
    transform:  translate(0, 0) scale(1) rotate(0);
  }
  50% {
    stroke-dashoffset: 4px;  
    transform: translate(.5px, -1px) scale(.95)  rotate(-92deg);   
  }
  100% { 
   stroke-dashoffset: 6.375px; 
   transform: translate(0, 0) scale(1)  rotate(0) ;
  }
}

@keyframes rectangle-horizontal {
  0% { 
    height: 2px;
    transform: rotate(180deg) translate(-1px, -10.5px);
  };
  50% { 
    height: 8px;
    transform: rotate(180deg) translate(-1px, -8px);
  };
  100% {
    height: 2px;
    transform: rotate(180deg) translate(-1px, -10.5px);
  };
}

@keyframes rectangle-vertical {
  0% { 
    height: 9px ;
    transform: rotate(180deg) translate(-1px, -10.5px);
  }
  50% { 
    height: 7px;
    transform: rotate(180deg) translate(-1px, -8px);
  }
  100% {
    height: 9px;
    transform: rotate(180deg) translate(-1px, -10.5px);
  }
}


 @keyframes line-left {
  0% { stroke-dashoffset: 0; transform: translateY(0) }
  50% { stroke-dashoffset: -5px; transform: translateY(-2px) }
  100% { stroke-dashoffset: 0px; transform: translateY(0) }
} 

@keyframes line-right {
  0% { stroke-dashoffset: 15px; transform: translateY(0) }
  50% { stroke-dashoffset: 20px; transform: translateY(-2px) }
  100% { stroke-dashoffset: 15px; transform: translateY(0) }
}

.isAnimating {
  .RectangleHorizontal { animation: rectangle-horizontal .65s cubic-bezier(0.4, 0.14, 0.3, 1) }
  .RectangleVertical { animation: rectangle-vertical .65s cubic-bezier(0.4, 0.14, 0.3, 1) }
  .GraphCircle {  animation: circle-rotate .65s cubic-bezier(0.4, 0.14, 0.3, 1) }
  .GraphBarLeft { animation: line-left .65s cubic-bezier(0.4, 0.14, 0.3, 1) }
  .GraphBarRight { animation: line-right .65s cubic-bezier(0.4, 0.14, 0.3, 1) }
}



