.ZoomAreaCursor{
  will-change: transform;
  transform-origin: 16px 16px;
  transform: scale(1);
}


.isAnimating {
  .ZoomAreaCursor {
    animation: zoom-area-cursor 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
}

   
@keyframes zoom-area-cursor {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-4px, -4px); }
  20% { transform: translate(0, 0); }
  100% { transform: scale(1); }
}