.ZoomAreaCursor{
  will-change: transform;
  transform-origin: 16px 16px;
  transform: scale(1);
}

.ZoomArea1 {
  will-change: transform;
  transform-origin: 16px 16px;
  transform: scale(1);
}

.ZoomArea2,
.ZoomArea3,
.ZoomArea4,
.ZoomArea5,
.ZoomArea6,
.ZoomArea7,
.ZoomArea8,
.ZoomArea9,
.ZoomArea10,
.ZoomArea11,
.ZoomArea12 {
  will-change: transform;
  transform-origin: 2px 2px;
  transform: scale(0);
}


.isAnimating {
  .ZoomAreaCursor {
    animation: zoom-area-cursor 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea1 {
    animation: zoom-area1 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea2 {
    animation: zoom-area2 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea3 {
    animation: zoom-area3 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea4 {
    animation: zoom-area4 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea5 {
    animation: zoom-area5 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea6 {
    animation: zoom-area6 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea7 {
    animation: zoom-area7 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea8 {
    animation: zoom-area8 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea9 {
    animation: zoom-area9 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea10 {
    animation: zoom-area10 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea11 {
    animation: zoom-area11 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .ZoomArea12 {
    animation: zoom-area12 1.5s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
}

   
@keyframes zoom-area-cursor {
  0% { transform: translate(0, 0); }
  14% { transform: translate(-4px, -4px); }
  26% { transform: translate(0, 0); }
  100% { transform: scale(1); }
}

@keyframes zoom-area1 {
  0% { transform: scale(1); }
  5.9999999999% { transform: scale(1); }
  6% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-area2 {
  0% { transform: scale(0); }
  5.9999999999% { transform: scale(0); }
  6% { transform: scale(1); }
  8% { transform: scale(1); }
  8.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-area3 {
  0% { transform: scale(0); }
  7.9999999999% { transform: scale(0); }
  8% { transform: scale(1); }
  10% { transform: scale(1); }
  10.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-area4 {
  0% { transform: scale(0); }
  9.9999999999% { transform: scale(0); }
  10% { transform: scale(1); }
  12% { transform: scale(1); }
  12.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-area5 {
  0% { transform: scale(0); }
  11.9999999999% { transform: scale(0); }
  12% { transform: scale(1); }
  14% { transform: scale(1); }
  14.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-area6 {
  0% { transform: scale(0); }
  14% { transform: scale(0); }
  14.0000000001% { transform: scale(1); }
  16% { transform: scale(1); }
  16.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-area7 {
  0% { transform: scale(0); }
  15.9999999999% { transform: scale(0); }
  16% { transform: scale(1); }
  18% { transform: scale(1); }
  18.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-area8 {
  0% { transform: scale(0); }
  17.9999999999% { transform: scale(0); }
  18% { transform: scale(1); }
  20% { transform: scale(1); }
  20.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-area9 {
  0% { transform: scale(0); }
  19.9999999999% { transform: scale(0); }
  20% { transform: scale(1); }
  22% { transform: scale(1); }
  22.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-area10 {
  0% { transform: scale(0); }
  21.9999999999% { transform: scale(0); }
  22% { transform: scale(1); }
  24% { transform: scale(1); }
  24.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-area11 {
  0% { transform: scale(0); }
  23.9999999999% { transform: scale(0); }
  24% { transform: scale(1); }
  26% { transform: scale(1); }
  26.0000000001% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes zoom-area12 {
  0% { transform: scale(0); }
  25.9999999999% { transform: scale(0); }
  26% { transform: scale(1); }
  100% { transform: scale(1); }
}
