@keyframes add-filled-vertical {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1, 1.2);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes add-filled-horizontal {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.2, 1);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.AddFilledHorizontal{
  transform-origin: 1rem 1rem;
  will-change: transform;
}

.AddFilledVertical{
  transform-origin: 1rem 1rem;
  will-change: transform;
}

.isAnimating {
  .AddFilledHorizontal {
    animation: add-filled-horizontal 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

.isAnimating {
  .AddFilledVertical {
    animation: add-filled-vertical 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}
