@keyframes recently-viewed-arrow {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes recently-viewed-clock {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(25deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.RecentlyViewedArrow,
.RecentlyViewedClock{
  transform-origin: 1rem 1rem;
  will-change: transform;
}


.isAnimating {
  .RecentlyViewedArrow {
    animation: recently-viewed-arrow 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

.isAnimating {
  .RecentlyViewedClock {
    animation: recently-viewed-clock 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}


