@keyframes bookmark-bottom {
  0% {
    transform: translatey(0px);
  }
  10% {
    transform: translatey(4px);
  }
  20% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}


.BookmarkBottom {
  will-change: transform;
}

.isAnimating {
  .BookmarkBottom {
    animation: bookmark-bottom infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}
