@keyframes drag-horizontal-top {
  0% {
    transform: translateY(0px);
  }
 10% {
    transform: translateY(-2px);
  }
 20% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes drag-horizontal-bottom {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(2px);
  }
  20% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.DragVerticalTop, .DragVerticalBottom{
  transform-origin: 50% 50%;
  will-change: transform;
}

.isAnimating {
  .DragVerticalTop {
    animation: drag-horizontal-top 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  .DragVerticalBottom {
    animation: drag-horizontal-bottom 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}
