@keyframes send {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(4px);
  }
  20% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}


.SendRight {
  will-change: transform;
}

.isAnimating {
  .SendRight {
    animation: send infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}
