@keyframes down-to-bottom-arrow {
  0% {
<<<<<<< HEAD
    transform: translateY(0px);
  }
  10% {
    transform: translateY(5px);
  }
  20% {
=======
    transform: translateY(-6px);
  }
  8% {
    transform: translateY(-6px);
  }
  25% {
>>>>>>> 81ca42f41dfaacb1012bb58322dd8455e72d91db
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.DownToBottomArrow {
  transform-origin: 50% 50%;
  will-change: transform;
}

.isAnimating {
  .DownToBottomArrow {
    animation: down-to-bottom-arrow 2s infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}
