
svg {
	width: 32px;
	height: 32px;
	margin: 48px 56px;
}

svg:hover {
	cursor: pointer;
}

.icon-tile {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
}
