.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 160px 0 32px 0;
	opacity: 0;
	transform: scale(0.8);
	will-change: opacity, transform;
	animation: 0.5s fade-in-and-pop 0.25s forwards linear;
}

.icon-tile {
	margin: 8px;
	padding: 12px;
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	cursor: pointer;
	opacity: 0;
	animation: 0.2s fade-in 0.38s forwards ease-in;

	svg {
		margin: 48px 60px;
	}
}

h3 {
	font-size: 12px;
}

.bx--grid {
	margin: 0 auto 160px auto;

}

.icon-section > .bx--grid {
	max-width: 1184px !important;
}

.bx--tile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: 2px;
}

h2 {
	font-size: 28px;
	margin: 80px 0 32px 8px;
	opacity: 0;
	will-change: opacity, transform;
	animation: 0.2s fade-in 0.38s forwards linear;
}

@keyframes fade-in-and-pop {
	55% {
		opacity: 1;
		transform: scale(1.05);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fade-in {
	100% {
		opacity: 1;
	}
}
