.ZoomInGlass{
  transform-origin: .8125rem .8125rem;
  will-change: transform;
  stroke-width: 2px;
  stroke-miterlimit: 10px;
}

.ZoomInHorizontal{
  transform-origin: .8125rem .8125rem;
  will-change: transform;
}

.ZoomInVertical{
  transform-origin: .8125rem .8125rem;
  will-change: transform;
}

.isAnimating {
  .ZoomInGlass {
    animation: zoom-in-glass 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

.isAnimating {
  .ZoomInHorizontal {
    animation: zoom-in-horizontal 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

.isAnimating {
  .ZoomInVertical {
    animation: zoom-in-vertical 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}


@keyframes zoom-in-glass {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(.85, .85);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoom-in-horizontal {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.15, 1);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoom-in-vertical {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1, 1.15);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}


