@keyframes launch {
  0% {
    transform: translate(-2px, 2px);
  }
  10% {
    transform: translate(2px, -2px);
  }
  20% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


.LaunchTip {
  will-change: transform;
}

.isAnimating {
  .LaunchTip {
    animation: launch infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }
}