@-webkit-keyframes animate-outer-gear {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes animate-outer-gear {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.SettingsMotion {
  width: 32px;
  height: 32px;
}

.SettingsOuterGear {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  will-change: transform;
}

.isAnimating {
  .SettingsOuterGear {
    -webkit-animation: animate-outer-gear 1.5s cubic-bezier(0.4, 0.14, 0.3, 1);
            animation: animate-outer-gear 1.5s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}