@-webkit-keyframes outer-gear {
  33.33% {  -webkit-transform: rotate(30deg);  transform: rotate(30deg) }
  66.66% {  -webkit-transform: rotate(30deg);  transform: rotate(30deg)}
  100% { -webkit-transform: rotate(60deg); transform: rotate(60deg)}
}

@keyframes outer-gear {
  33.33% {  -webkit-transform: rotate(30deg);  transform: rotate(30deg) }
  66.66% {  -webkit-transform: rotate(30deg);  transform: rotate(30deg)}
  100% { -webkit-transform: rotate(60deg); transform: rotate(60deg)}
}

.SettingsOuterGear {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;         
  transform-origin: 50% 50%;
  will-change: transform;
}

.isAnimating {
  .SettingsOuterGear {
    -webkit-animation: outer-gear .7s cubic-bezier(0.40, 0.12, 0.30, 1.00);
    animation: outer-gear .7s cubic-bezier(0.40, 0.12, 0.30, 1.00);
  }
}