@-webkit-keyframes animate-outer-gear {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg)}
  50% { -webkit-transform: rotate(-60deg); transform: rotate(-60deg)}
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg)}
}
@keyframes animate-outer-gear {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg)}
  50% { -webkit-transform: rotate(-60deg); transform: rotate(-60deg)}
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg)}
}

.SettingsMotion {
  width: 32px;
  height: 32px;
}

.SettingsOuterGear {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;         
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  will-change: transform;
}

.isAnimating {
  .SettingsOuterGear {
    -webkit-animation: animate-outer-gear .7s cubic-bezier(0.2, 0, 0.38, 0.9);
    animation: animate-outer-gear .7s cubic-bezier(0.2, 0, 0.38, 0.9);
  }
}