@keyframes arrow-up {
  0% {
    transform: translatey(0px);
  }
  5% {
    transform: translatey(0px);
  }
  6% {
    transform: translatey(11px);
  }
  25% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}

<<<<<<< HEAD
@keyframes arrow-up {
  0% {
    transform: translatey(0px);
  }
  10% {
    transform: translatey(-4px);
  }
  20% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
=======
@keyframes arrow-shaft {
  0% {
    transform: scale(1, 1);
  }
  5% {
    transform: scale(1, 1);
  }
  6% {
    transform: scale(1, 0.5);
  }
  25% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
>>>>>>> 81ca42f41dfaacb1012bb58322dd8455e72d91db
  }
}

.ArrowUpTip,
.ArrowUpShaft {
  will-change: transform;
}

.isAnimating {
  .ArrowUpTip {
    animation: arrow-up infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
  }

  .ArrowUpShaft {
    animation: arrow-shaft infinite cubic-bezier(0.4, 0.14, 0.3, 1) 2s;
    transform-origin: 16px 28px;
  }
}
