.GlobeLine { 
	-webkit-transform: scale(-100%, 100%); 
	    -ms-transform: scale(-100%, 100%); 
	        transform: scale(-100%, 100%); 
	-webkit-transform-origin: 43.75% 35.37%; 
	    -ms-transform-origin: 43.75% 35.37%; 
	        transform-origin: 43.75% 35.37%; 
	fill: none;
	stroke: #000;
	stroke-width: 2px;
	stroke-miterlimit: 10;
}

@-webkit-keyframes globe-line {
	100% { -webkit-transform: scale(100%, 100%); transform: scale(100%, 100%)}
}

@keyframes globe-line {
	100% { -webkit-transform: scale(100%, 100%); transform: scale(100%, 100%)}
}

.isAnimating {
	.GlobeLine {
		-webkit-animation: globe-line .5s cubic-bezier(0.40, 0.12, 0.30, 1.00);
		        animation: globe-line .5s cubic-bezier(0.40, 0.12, 0.30, 1.00);
	}
}
