@keyframes apps-box1 {
  0% { transform: translateX(0px) ; }
  6% { transform: translateX(2px) ; }
  12% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes apps-box2 {
  0% { transform: translateX(0px) ; }
  6% { transform: translateX(2px) ; }
  12% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes apps-box3 {
  0% { transform: translateX(0px) ; }
  6% { transform: translateX(2px) ; }
  12% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes apps-box4 {
  4% { transform: translateX(0px) ; }
  10% { transform: translateX(2px) ; }
  16% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes apps-box5 {
  4% { transform: translateX(0px) ; }
  10% { transform: translateX(2px) ; }
  16% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes apps-box6 {
  4% { transform: translateX(0px) ; }
  10% { transform: translateX(2px) ; }
  16% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes apps-box7 {
  8% { transform: translateX(0px) ; }
  14% { transform: translateX(2px) ; }
  20% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes apps-box8 {
  8% { transform: translateX(0px) ; }
  14% { transform: translateX(2px) ; }
  20% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}

@keyframes apps-box9 {
  8% { transform: translateX(0px) ; }
  14% { transform: translateX(2px) ; }
  20% { transform: translateX(0px) ; }
  100% { transform: translateX(0px) ; }
}




.AppsBox1,
.AppsBox2,
.AppsBox3,
.AppsBox4,
.AppsBox5,
.AppsBox6,
.AppsBox7,
.AppsBox8,
.AppsBox9 {
  will-change: transform;
  transform-origin: 16px 16px;
}



.isAnimating {
  .AppsBox1 {
    animation: apps-box1 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .AppsBox2 {
    animation: apps-box2 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .AppsBox3 {
    animation: apps-box3 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .AppsBox4 {
    animation: apps-box4 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .AppsBox5 {
    animation: apps-box5 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .AppsBox6 {
    animation: apps-box6 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .AppsBox7 {
    animation: apps-box7 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .AppsBox8 {
    animation: apps-box8 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
  .AppsBox9 {
    animation: apps-box9 2s cubic-bezier(0.2, 0, 0.38, 0.9) ;
  }
}
