@keyframes close-vertical {
  0% { transform: rotate(45deg) scale(1, 1);}
  10% { transform:  rotate(45deg) scale(1, .8);}
  20% { transform: rotate(45deg)  scale(1, 1);}
  100% {transform:  rotate(45deg) scale(1, 1);}
}

@keyframes close-horizontal {
  0% { transform: rotate(45deg) scale(1, 1);}
  10% { transform: rotate(45deg) scale(.8, 1);}
  20% { transform: rotate(45deg) scale(1, 1);}
  100% {transform: rotate(45deg) scale(1, 1);}
}

.CloseVertical{
  transform-origin: 1rem 1rem;
  will-change: transform;
  transform: rotate(45deg);
}

.isAnimating {
  .CloseVertical {
    animation: close-vertical 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}

.CloseHorizontal {
  transform-origin: 1rem 1rem;
  will-change: transform;
  transform: rotate(45deg);
}  

.isAnimating {
  .CloseHorizontal {
    animation: close-horizontal 2s cubic-bezier(0.4, 0.14, 0.3, 1);
  }
}
